!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Node.js

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 Node.js

      section
        h2 Contents
        h3.bullet &nbsp;
        ul
          li What? Why? How?
          li Event-driven programming
          li Examples
          li Comments

      section
        h2 What?
        h3.bullet &nbsp;
        ul
          li Ryan Dahl in November 2009
          li Server-side JavaScript
          li Evented, non-blocking I/O
          li CommonJS modules

      section
        h2 Why?
        h3.bullet &nbsp;
        ul
          li Web apps I/O latency
          li Scalability
          li Concurrency with OS threads?
          li Event loop

      section
        h2 How?
        h3.bullet &nbsp;
        ul
          li Kernel-level non-blocking socket I/O
          li 8K C/C++
          li 2K JavaScript
          li Built on Google's V8
          li Single thread
          li JS in V8 thread pool

      section
        h2 Event-driven programming
        hr
        code.language-javascript
          pre.
            while there are still events to process:
              e = get the next event
              if there is a callback associated with e:
                call the callback
        h3.bullet &nbsp;
        ul
          li File is ready for writing
          li A socket has data ready to be read
          li A timer has timed out

      section
        h2 Event-driven programming
        br
        p
         strong Things that I'm interested in
        p (event name or type)
        em e.g. success, failure, network error, etc.
        br
        p
         strong Things that I want to do
        p (function or callback)
        em e.g. 40 + 2, print something, etc.

      section
        h2 Examples

      section
        h2 Comments
        h3.bullet &nbsp;
        ul
          li JavaScript
          li Type system
          li Callback hell
          li Moves fast
          li Use cases

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
